.popup__personal-info::-webkit-input-placeholder {
  color:#000000;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
}
.popup__personal-info::-moz-placeholder {
  color:#000000;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
}
.popup__personal-info::-ms-input-placeholder {
  color:#000000;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
}
.popup__personal-info::placeholder {
  color:#000000;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
}

.popup__personal-info {
  background: none;
  padding: 0;
  border: 0;
  appearance: none;
  padding-top: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color:#000000;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
}
