.profile__aboutme {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

@media (max-width: 767px) {
  .profile__aboutme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 26px;
  }
}
