.popup__img-container {
  display: flex;
  margin: 0;
  max-width: 816px;
  min-width: 434px;
  height: 540px;
  overflow: hidden;
}

@media (max-width: 1023px) {
  .popup__img-container {
    max-width: 540px;
    min-width: 440px;
  }
}

@media (max-width: 767px) {
  .popup__img-container {
    max-width: 240px;
    min-width: 240px;
    height: 300px;
  }
}
